<h2 class="accounts-header">Login</h2>

<%= form_tag login_create_path, :class => 'form' do %>
  <div class="accounts-form-item">
    <%= label :account, :username, 'username', class: 'col-form-control', id: 'login_username_label' %>
    <%= text_field :account, 'username', class: 'form-control', id: 'login_username' %>
  </div>
  <div class="accounts-form-item">
    <%= label :account, :password, 'password', class: 'col-form-control', id: 'login_password_label' %>
    <%= password_field :account, 'password', class: 'form-control', id: 'login_password' %>
  </div>
  <div class="accounts-form-item">
    <%= submit_tag 'Login', class: 'btn btn-primary', id: 'login_submit' %>
    &nbsp
    <%= "Don't have an account?" %>
    <%= link_to 'Signup.', new_account_path, id: 'signup' %>
  </div>
<% end %>

<script>
    add_login_event_listeners();
</script>