<h2 class="create-room-header">Create a Room</h2>

<!-- this side holds the create rood options -->
<div class="main-page-split-container" style="height: 440px;">
  <div class="create-room-form-box">
    <div class="main-page-box-title"> Create Room </div>
    <div class="box-explanation-text"> Choose a room name for the room you are about to create, then toggle if the room is public. Public rooms will be displayed at the main page with the name you chose. </div>
    <%= form_tag rooms_path, :method => :post, :id => "create_room_form" %>
      <div class="create-account-form-item">
        <%= label :room, :name, 'Enter Room Name', class: 'create-account-label' %>
        <%= text_field :room, "name", class: 'form-control', :id => 'room_name_input' %>
      </div>
      <div class="create-account-form-item">
        <%= label :room, :name, 'Choose Max Number of Players', class: 'create-account-label' %>
        <select name="player_limit" class="form-control" id="room_player_limit_input">
          <% (1..20).each { |player_count| %>
            <option value="<%=  player_count  %>"> <%=  player_count  %> </option>
          <% } %>
        </select>
      </div>
      <div class="create-account-form-item">
        <%= label :room, :public, 'Public Room?', class: 'create-account-label' %>
        <%= check_box :room, "public", :id => 'public_name_input' %>
      </div>
      <!-- To send to the user what cards have been selected for game, we can use a hidden string
           At submit time, a javascript function can compile all the cards to be used into this string
           The format can be -> value-suit,value-suit,value-suit,...
      -->
      <input type="hidden" id="cards_to_use" name="cards_to_use" value="">
      <div class="create-account-form-item">
        <div id="create_room_submit" class="btn btn-primary" onclick="submit_create_room_form()"> Create the Room </div>
      </div>
  </div>
</div>

<div class="main-page-split-container">
  <div class="choose-playing-cards-box">
    <div class="main-page-box-title"> Choose Playing Cards </div>
    <div class="box-explanation-text"> Cards with a yellow border will be a part of your room's deck. Select/deselect cards by clicking on them. </div>
    <div class="playing-cards-box">
      <% @cards.each do |card| %>
        <!-- The selected data field is used to determine if this card should be used
             Set the id to the information about the card -->
        <div class="card_selection_card" id=<%= "#{card[:value]}-#{card[:suit][0,1].upcase}" %> data-selected="true" onclick="toggle_selection(this)">
          <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", class: "card_selection_image" ) %>
        </div>
      <% end %>
      <!-- This is just to ensure space between last card and bottom of the box-->
      <div style="float: left; width: 100%; height: 100px;"></div>
    </div>
  </div>
</div>