This is the view that players will play cards.
First we will need to check the session of any browser joining
and if they arent logged in, redirect them to a login page (just give your user id)
That way they can be connected to their hand. They can also opt to create a player
for this game.Yellow border indicates card is visible to everyone in the room.

<br>
<%= "Room code: #{session[:room_token]}" %>
<br>
<% player_name = @player["name"].to_s %>
<%= "You are: " + player_name %>
<% players = Player.where(room_id: @room_id) %>
<% players.each do |player| %>
  <div class="player-box">
    <div class="player">
      <%= player[:name] %>
      <div class="hand">
        <%# val = rand(1..10) %>
        <%# suit = ["Clubs", "Spades", "Hearts", "Diamonds"][rand(0..3)] %>
        <% cards = Card.where(player_id: player[:id], room_id: @room_id) %>
        <% if player[:name] == 'dealer' %>
          <%= "Number of cards in Deck: #{@deck.size.to_s}" %>
          <% if @deck.size > 0 %>
            <div class="deck">
              <%= image_tag("back_cards-07.png", size: "192x89") %>
            </div>
          <% end %>
          <% cards.each do |card| %>
            <% if card.visible %>
              <div class="card">
                <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", size: "64x89") %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <% cards.each do |card| %>
            <div class="card">
              <%# If the card belongs to this player or is visible, display the card.
              If the card belongs to this player AND is visible to everyone, make it 20% larger
              so the player knows everyone else can see it too%>
              <% if player[:name] == player_name and card.visible == true %>
                  <div class="my_card_visible_to_all">
                    <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", size: "64x89") %>
                  </div>
                <% elsif player[:name] == player_name and card.visible == false%>
                    <div>
                      <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", size: "64x89") %>
                    </div>
              <% elsif card.visible == true%>
                <div>
                  <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", size: "64x89") %>
                </div>
              <% else %>
                <div>
                  <%= image_tag("red_back.png", size: "64x89") %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="operation-box">
  <%= form_tag cards_draw_cards_path :room_id => @room_id do %>
    <% button_to 'Draw Cards from Dealer', :class => 'btn btn-secondary' %>
  <% end %>

  <%= form_tag cards_give_cards_path :room_id => @room_id do %>
    <%= button_to 'Give Cards', :class => 'btn btn-secondary' %>
  <% end %>

  <%= form_tag cards_flip_cards_path :room_id => @room_id do %>
    <%= button_to 'Flip Others\' Cards Visible', :class => 'btn btn-secondary' %>
  <% end %>

  <%= form_tag cards_toggle_my_cards_path :room_id => @room_id do %>
    <%= button_to 'Toggle My Cards\' Visibility', :class => 'btn btn-secondary' %>
  <% end %>

  <br><br>
  <%= button_to 'Create New Deck for Dealer', rooms_create_new_deck_path, :method => :create_new_deck %>

  <%= button_to 'Delete All Cards in Room', cards_delete_decks_in_room_path , :method => :delete_decks_in_room %>

  <br><br>
  <%= button_to 'Reset Game', {:action=> "reset", :controller=> "rooms"}, :id=> 'reset_game', :method => :post %>

  <%= button_to 'End Game', {:action=> "destroy", :controller=> "rooms"}, :id=> 'end_game', :method => :delete %>
</div>


