This is the view that players will play cards.
First we will need to check the session of any browser joining
and if they arent logged in, redirect them to a login page (just give your user id)
That way they can be connected to their hand. They can also opt to create a player
for this game.

<br>
<%= 'Room ID: ' +  @room_id.to_s %>
<br>
<% player_name = @player_id["name"].to_s %>
<%= "You are: " + player_name %>
<% @players.each do |player| %>
  <div class="player-box">
    <div class="player">
      <%= player[:name] %>
      <div class="hand">
  <!--      <%# player.cards.each do |card| %> This probably won't work, needs to select from PlayerCard where PlayerID = Player.ID (maybe this is done in the controller?) -->
        <%# Jack -- You'll need some variation of this ---> Card.where(player_id: @player_id["id"].to_s).each do |card|%>
        <% [{:suit => "Heart", :value => "10"}, {:suit => "Club", :value => "A"}].each do |card| %>
          <div class="card">
            <% if player[:name] == player_name %>
              <div>
                <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", size: "64x89") %>
              </div>
            <% else %>
              <div>
                <%= image_tag("red_back.png", size: "64x89") %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="operation-box">
  <%= button_to 'Draw Cards From Dealer', cards_draw_cards_from_dealer_path, :method => :draw_cards_from_dealer %>
  <%= button_to 'Give Cards', cards_give_cards_transaction_path, :method => :give_cards_transaction %>
</div>


<%= render "cards/drawcards" %>

<%= render "cards/givecards" %>
