<%= javascript_tag 'setTimeout(function() {
      window.location.reload();
  }, 10000);
'%>

<br>
<%= "Room code: #{session[:room_token]}" %>
<br>
<% player_name = @player["name"].to_s %>
<%= "You are: " + player_name %>
<div class="game">
  <div class="operation-box">
    <%= button_to 'Draw cards from Dealer', {:action=> "draw_cards", :controller=> "cards", :room_id => @room_id}, :id=> 'draw_cards', :method => :post %>

    <%= button_to 'Give cards', {:action=> "give_cards", :controller=> "cards", :room_id => @room_id}, :id=> 'give_cards', :method => :post %>

    <%= form_tag cards_take_cards_choose_player_path :room_id => @room_id do %>
      <%= button_to 'Take cards', :class => 'btn btn-secondary op-btn' %>
    <% end %>

    <br><br>

    <%= form_tag cards_flip_cards_path :room_id => @room_id do %>
      <%= button_to 'Flip Others\' Cards Visible', :class => 'btn btn-secondary op-btn' %>
    <% end %>


    <%= form_tag cards_toggle_my_cards_path :room_id => @room_id do %>
      <%= button_to 'Toggle My Cards\' Visibility', :class => 'btn btn-secondary op-btn' %>
    <% end %>

    <br><br>
    <%= button_to 'Create New Deck for Dealer', rooms_create_new_deck_path, :method => :create_new_deck, :class => 'btn btn-secondary op-btn' %>

    <%= button_to 'Delete All Cards in Room', cards_delete_decks_in_room_path , :method => :delete_decks_in_room, :class => 'btn btn-secondary op-btn' %>

    <br><br>
    <%= button_to 'Reset Game', {:action=> "reset", :controller=> "rooms"}, :id=> 'reset_game', :method => :post, :class => 'btn btn-secondary op-btn' %>

    <%= button_to 'End Game', {:action=> "destroy", :controller=> "rooms"}, :id=> 'end_game', :method => :delete, :class => 'btn btn-secondary op-btn' %>
  </div>
  <div class="board">
    <% players = Player.where(room_id: @room_id) %>
    <div class="board-box">
      <%= 'Game Board' %>
      <% players.each do |player| %>
        <% if player[:name] == 'dealer' or player[:name] == 'sink' %>
          <div class="dealer-box">
            <div class="player">
              <%= player[:name] %>
              <div class="hand">
                <% cards = Card.where(player_id: player[:id], room_id: @room_id) %>
                <%= "Number of cards: #{cards.size.to_s}" %>
                <% if cards.size > 0 %>
                  <div class="deck">
                    <%= image_tag("back_cards-07.png", size: "192x89") %>
                  </div>
                <% end %>
                <% cards.each do |card| %>
                  <% if card.visible %>
                    <div class="card">
                      <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", size: "64x89") %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <% players.each do |player| %>
      <% if player[:name] != 'dealer' and player[:name] != 'sink' %>
        <div class="player-box">
          <div class="player">
            <%= player[:name] %>
            <div class="hand">
              <% cards = Card.where(player_id: player[:id], room_id: @room_id) %>
              <% cards.each do |card| %>
                <div class="card">
                  <%# If the card belongs to this player or is visible, display the card.
              If the card belongs to this player AND is visible to everyone, make it 20% larger
              so the player knows everyone else can see it too%>
                  <% if player[:name] == player_name and card.visible == true %>
                    <div class="my_card_visible_to_all">
                      <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", size: "64x89") %>
                    </div>
                  <% elsif player[:name] == player_name and card.visible == false%>
                    <div>
                      <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", size: "64x89") %>
                    </div>
                  <% elsif card.visible == true%>
                    <div>
                      <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", size: "64x89") %>
                    </div>
                  <% else %>
                    <div>
                      <%= image_tag("red_back.png", size: "64x89") %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


