This is the view that players will play cards.
First we will need to check the session of any browser joining
and if they arent logged in, redirect them to a login page (just give your user id)
That way they can be connected to their hand. They can also opt to create a player
for this game.

<br>
<%= 'Room ID: ' +  @room_id.to_s %>
<br>
<%= "Room code: #{session[:room_token]}" %>
<br>
<% player_name = @player["name"].to_s %>
<%= "You are: " + player_name %>
<% players = Player.where(room_id: @room_id) %>
<% players.each do |player| %>
  <div class="player-box">
    <div class="player">
      <%= player[:name] %>
      <div class="hand">
        <%# val = rand(1..10) %>
        <%# suit = ["Clubs", "Spades", "Hearts", "Diamonds"][rand(0..3)] %>
        <% cards = Card.where(player_id: player[:id], room_id: @room_id) %>
        <% if player[:name] == 'dealer' %>
          <%= "Number of cards in Deck: #{@deck.size.to_s}" %>
          <div class="card">
            <div>
              <%= image_tag("red_back.png", size: "64x89") %>
            </div>
          </div>
        <% else %>
          <% cards.each do |card| %>
            <div class="card">
              <% if player[:name] == player_name or card.visible %>
                <div>
                  <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", size: "64x89") %>
                </div>
              <% else %>
                <div>
                  <%= image_tag("red_back.png", size: "64x89") %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="operation-box">
  <%= button_to 'Draw Cards From Dealer', cards_draw_cards_from_dealer_path, :method => :draw_cards_from_dealer %>
  <%= button_to 'Give Cards', cards_give_cards_transaction_path, :method => :give_cards_transaction %>
  <%= button_to 'Reset Game', {:action=> "reset", :controller=> "rooms"}, :id=> 'reset_game', :method => :post %>
  <%= button_to 'End Game', {:action=> "destroy", :controller=> "rooms"}, :id=> 'end_game', :method => :delete %>
</div>


<%= render "cards/drawcards" %>

<%= render "cards/givecards" %>
