<h3> This is the view for give cards</h3>

<%
  cards_to_give = Card.where(room_id: give.room_id, player_id: give.id)%>
<% cards_to_give_array = cards_to_give.to_a %>

<% players = Player.all %>


<%= form_tag cards_give_cards_transaction_path :class => 'form' do %>
  <thead>
  <tr>
    <th>Cards</th>
    <th>Select cards</th>
  </tr>
  </thead>
  <tbody>
  <%= cards_to_give_array.each do |card| %>
  <tr>
    <td>
      <% card.value.to_s + card.suit.to_s %>
    </td>
    <td>
    <% check_box_tag "cards_selected[#{card.id}]", 1, false, :id => "checkbox_#{card.id}" %>
    </td>
  </tr>
  <% end %>
  </tbody>

  <thead>
  <tr>
    <th>Receiving players</th>
    <th>Select players</th>
  </tr>
  </thead>
  <tbody>
  <%= players.each do |recipient| %>
    <tr>
      <td>
        <%= recipient.name %>
      </td>
      <td>
        <% check_box_tag "players_selected[#{recipient.id}]", 1, false, :id => "checkbox_#{recipient.id}" %>
      </td>
    </tr>
  <% end %>
  </tbody>

  <%= link_to 'Add cards to the players', :class => 'btn btn-secondary' %>
<% end %>

