<h3> This is the view for draw cards</h3>


<%= form_tag cards_draw_cards_from_dealer_path :class => 'form' do %>
  <%= label :quantity, 'Input quantity', :class => 'col-form-label' %>
  <%= text_field :quantity, 'quantity', :class => 'form-control' %>



  <%= @players.each do |player| %>
    <%= player.name %>
    <% check_box_tag "players_selected[#{player.id}]", 1, false, :id => "checkbox_#{player.id}" %>
  <% end %>


  <%= button_to 'Add cards to players', :class => 'btn btn-secondary' %>
<% end %>


