<h3> Transfer Cards from Dealer to Players </h3>


<%= form_tag cards_draw_cards_from_dealer_path :class => 'form' do %>
  <%= label :quantity, 'Input quantity to deal', :class => 'col-form-label' %>
  <%= text_field :quantity, 'quantity', :class => 'form-control' , :id => "quantity_dealer"%>


  <br>
  <% @players.each do |player| %>
    <%= player.name %>
    <%= check_box_tag "players_selected[#{player.id}]", 1, false, :id => "checkbox_#{player.id}" %>
  <% end %>

  <br><br>
  <%= submit_tag 'Deal cards to players', { :class => 'btn btn-secondary', :id => "draw_cards_inside" } %>

<% end %>


