<h2>Edit Existing card</h2>
<%= image_tag(@card.image_url, size: "78x120") %>
<%= form_tag card_path(@card), :method => :put do %>
  <%= label :card, :room_id, 'Room ID', :class => 'col-form-label' %>
  <%= text_field :card, 'room_id', :class => 'form-control' %>
  <%= label :card, :suit, 'Suit', :class => 'col-form-label' %>
  <%= text_field :card, 'suit', :class => 'form-control' %>
  <%= label :card, :value, 'Value', :class => 'col-form-label' %>
  <%= text_field :card, 'value', :class => 'form-control' %>
  <%= label :card, :player_id, 'Player ID', :class => 'col-form-label' %>
  <%= text_field :card, 'player_id', :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Update card Info', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', cards_path, :class => 'btn btn-secondary' %>
<% end %>
