<h3> Transfer Cards from Player-to-Player or to the Sink</h3>

<%= form_tag cards_give_cards_transaction_path :class => 'form' do %>
  <table><thead>
  <tr>
    <th>Card</th>
    <th>Select card</th>
  </tr>
  </thead>
    <tbody>
    <% @cards_to_give_array.each do |card| %>
      <tr>
        <td>
          <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", size: "78x120") %>
        </td>
        <td>
        <%= check_box_tag "cards_selected[#{card.id}]", 1, false, :id => "checkbox_#{card.id}" %>
        </td>
      </tr>
    <% end %>
    </tbody></table>

  <br>
  <table><thead>
  <tr>
    <th>Select a single Receiving Player</th>
  </tr>
  </thead>
    <tbody>
    <% @players.each do |recipient| %>
      <tr>
        <td>
          <%= recipient.name %>
        </td>
        <td>
        <%= check_box_tag "players_selected[#{recipient.id}]", 1, false, :id => "checkbox_#{recipient.id}" %>
        </td>
      </tr>
    <% end %>
    </tbody></table>


  <%= button_to 'Transfer cards to the selected player', :class => 'btn btn-secondary' %>
<% end %>

