<!--  This file is app/views/cards/index.html.erb -->
<h2>All Cards</h2>
<table class="table table-striped col-md-12" id="cards">
  <thead>
    <tr>
      <th>Room ID</th>
      <th>Suit</th>
      <th>Value</th>
      <th>Owned By</th>
      <th>Image</th>
      <th>Edit Card</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td>
          <%= card.room_id %>
        </td>
        <td>
          <%= card.suit %>
        </td>
        <td>
          <%= card.value %>
        </td>
        <td>
          <!-- This query works exactly how we want but it slows down the rendering significantly -->
          <%player_name = Player.find_by(id: card.player_id).name %>
          <%= player_name %>
        </td>
        <td>
          <!--https://apidock.com/rails/ActionView/Helpers/AssetTagHelper/image_tag -->
          <%= image_tag(card.image_url, size: "78x120") %>
        </td>
        <td>
          <%= link_to "More Details", card_path(card) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'Create New Deck', cards_create_new_deck_path, :method => :create_new_deck %>
<%= button_to 'Delete Deck # 1', cards_delete_decks_in_room_path , :method => :delete_decks_in_room %>
