<div class="take_cards_choose_cards_header">
<%= "Take Cards from #{@taking_from_player.name}" %>
</div>
<%= form_tag cards_take_cards_transaction_path :class => 'form' do %>
  <table><thead>
  <tr>
    <th>Card</th>
    <th>Select card</th>
  </tr>
  </thead>
    <tbody>
    <% @cards_to_take_array.each do |card| %>
      <tr>
        <td>
          <% if card.visible == true%>
          <div>
            <%= image_tag("#{card[:value]}#{card[:suit][0,1].upcase}.png", size: "78x120") %>
          </div>
            <%# Don't allow the user to pick from dealers cards that aren't flipped. They should
            use the Draw Cards functionality if that's what they want to do.%>
          <% elsif @taking_from_player.name != "dealer" %>
            <div>
              <%= image_tag("red_back.png", size: "78x120") %>
            </div>
          <% end %>
        </td>

        <% if @taking_from_player.name != "dealer" %>
          <td>
          <%= check_box_tag "cards_selected[#{card.id}]", 1, false, :id => "checkbox_#{card.id}" %>
          </td>
        <% elsif @taking_from_player.name == "dealer" && card.visible == true %>
          <td>
            <%= check_box_tag "cards_selected[#{card.id}]", 1, false, :id => "checkbox_#{card.id}" %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody></table>

  <br>
  <%= button_to 'Take Cards', :class => 'btn btn-secondary' %>
<% end %>
